.todo-title {
  margin: 0
}

.todo-card {
  max-width: 400px;
  text-align: center;
  margin: 2rem auto;
}

.todo-form {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}

#todo-Btn {
  max-width: 250px;
  margin: 0.5rem 0 0 0;
}

#displayList {
  margin-top: 20px;
}
